body {
  width: 100%;
  background: #3cb371  ;
  font-family: 'Open Sans', sans-serif;
}

.master-container {
  width: 80%;
  margin: 0 auto;
}

.parks-search-form > input {
  margin: 5px 5px 5px 0px;
}

.parks-search-form > label {
  font-size: 16px;
  color: #333;
}

.results-wrapper {
  padding-bottom: 25px;
}

.results-wrapper > a > button {
  font-weight: 600;
  font-size: 14px;
  height: 25px;
  box-shadow: 2px 2px #359962;
  background-color: #ececec;
  border: #333;
}

.results-wrapper > a > button:hover {
  cursor: pointer;
} 